*{
    margin: 10;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    
  }
  body{
    background-color: #FEF2B8;
}
  
  nav {
    margin-left: auto;
  }
  
  h1 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0.5rem;
    padding: 0;
  }
  
  nav {
    display: inline-block;
    vertical-align: middle;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li.icon {
    flex-basis: 25%;
  }
  
  header {
    background: #3C5B66;
    padding: 20px;
  }
  
  a {
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: teal;
  }
  
  a:hover {
    background: yellowgreen;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
  box-sizing: inherit;
}

header>nav>ul>li>a>img{
    width: 20px;
    height: 20px;
}
.containerbox{
    display: flex;
    margin-top: 10px;
    width: 700px;
    height: 87vh;
    flex-direction: column;
    overflow: auto;
}
.box1{
    width: auto;
    height: 400px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    position: relative;
    display: grid;
    background-image: url("../img/이력서.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.box2{
  background-image: url("../img/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    width: auto;
    height: 400px;
    background-color: #fff;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    position: relative;
    display: grid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.a_box{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.main{
    display: flex;
}

.box_container{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: grid;
  place-items: center;
    background-color: #ccc;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
    
    
}
.item{
    display: flex;
  
}
.item>a>img {
    height: 100px;
    width: auto; 
    max-width: 100%; 
    object-fit: cover; 
  }

  img {
  opacity: 0.5; 
  transition: opacity 0.5s;}
img:hover {
  opacity: 1; }

  #myDIV{
    display: none;
    position: absolute;
    background-color: #a38c8c;
    border-radius: 10px;
    width: 220px;
    height: 500px;
    top: 120px;
    right: 0px;
    padding: 10px;
  }

  h4{
    color: #fff;
    margin: 10px;
  }
  .logout{
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    background-color: #d45353;
  }

  

